In [41]:
import pandas as pd

In [52]:
bdata = pd.read_csv("2016budgetdataA_Bcombo.csv")

In [53]:
bdata

,F2,F3,F4,F8,F9,F13,F14,F18,F19,F23,...,F108.1,F109.1,F113.1,F114.1,F118.1,F119.1,F123.1,F124.1,F128.1,F129.1
0,Description,United States Total,NaN,Alabama,NaN,Alaska,NaN,Arizona,NaN,Arkansas,...,Virginia,NaN,Washington,NaN,West Virginia,NaN,Wisconsin,NaN,Wyoming,NaN
1,NaN,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,...,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local
2,NaN,amount1,CV,amount1,CV,amount1,CV,amount1,CV,amount1,...,amount1,CV,amount1,CV,amount1,CV,amount1,CV,amount1,CV
3,NaN,1,2,1,2,1,2,1,2,1,...,1,2,1,2,1,2,1,2,1,2
4,Description,C1,C2,C6,C7,C11,C12,C16,C17,C21,...,c106,c107,c111,c112,c116,c117,c121,c122,c126,c127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Other than insurance trust funds,"2,530,441,079",0.24,"24,941,370",0.65,"77,002,648",0.07,"44,105,361",0.47,"17,393,609",...,"52,791,334",0.51,"51,661,627",0.84,"10,580,915",0.43,"33,464,704",0.75,"24,824,038",1.22
149,By purpose:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Offsets to debt,"755,926,366",0.29,"2,892,099",2.18,"3,802,119",0.14,"13,808,717",0.72,"5,163,119",...,"18,635,316",0.88,"13,822,398",0.23,"4,952,663",0.11,"15,899,259",0.13,"741,882",0.51
151,Bond funds,"204,287,735",1.13,"1,856,520",3.07,"710,638",0,"3,174,581",1.14,"1,723,066",...,"4,428,582",2.41,"7,436,902",2.83,"415,800",0.76,"1,489,553",4.68,"482,416",0.75
152,Other,"1,570,226,978",0.32,"20,192,751",0.68,"72,489,891",0.07,"27,122,063",0.65,"10,507,424",...,"29,727,436",0.63,"30,402,327",1.25,"5,212,452",0.87,"16,075,892",1.48,"23,599,740",1.28

In [54]:
bdata.loc[0, "F2"]

'Description'

In [55]:
bdata.columns = bdata.iloc[0]

In [56]:
prevCol = None

for (colname, col) in bdata.iteritems():
  if col.isnull()[0]:
    nullobject = col[0]


bdata.drop([nullobject], axis=1)

<ipython-input-56-5edf3944f181>:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname, col) in bdata.iteritems():

,Description,United States Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Description,United States Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,NaN,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,...,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local
2,NaN,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,...,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1
3,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Description,C1,C6,C11,C16,C21,C26,C31,C36,C41,...,c81,c86,c91,c96,c101,c106,c111,c116,c121,c126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Other than insurance trust funds,"2,530,441,079","24,941,370","77,002,648","44,105,361","17,393,609","336,748,909","49,137,914","23,548,133","7,972,344",...,"7,661,204","40,878,916","266,238,778","16,127,201","5,130,527","52,791,334","51,661,627","10,580,915","33,464,704","24,824,038"
149,By purpose:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Offsets to debt,"755,926,366","2,892,099","3,802,119","13,808,717","5,163,119","54,886,183","15,216,215","14,927,225","2,063,691",...,"2,733,124","17,519,141","50,193,886","3,601,139","2,401,799","18,635,316","13,822,398","4,952,663","15,899,259","741,882"
151,Bond funds,"204,287,735","1,856,520","710,638","3,174,581","1,723,066","33,694,631","4,398,685","1,127,905","650,927",...,"82,256","2,538,101","33,351,217","2,151,408","93,446","4,428,582","7,436,902","415,800","1,489,553","482,416"
152,Other,"1,570,226,978","20,192,751","72,489,891","27,122,063","10,507,424","248,168,095","29,523,014","7,493,003","5,257,726",...,"4,845,824","20,821,674","182,693,675","10,374,654","2,635,282","29,727,436","30,402,327","5,212,452","16,075,892","23,599,740"

In [57]:
bdata = bdata.drop([1, 2, 3, 4])

In [58]:
bdata = bdata.drop([0])

In [59]:
bdata.to_csv("2016budgetData_post1prep.csv")

In [60]:
bdata

,Description,United States Total,NaN,Alabama,NaN,Alaska,NaN,Arizona,NaN,Arkansas,...,Virginia,NaN,Washington,NaN,West Virginia,NaN,Wisconsin,NaN,Wyoming,NaN
5,Revenue1,"3,408,694,937",0.05,"46,651,306",0.35,"11,497,088",0.11,"59,058,409",0.14,"26,682,770",...,"79,074,530",0.16,"85,279,112",0.28,"16,985,026",0.12,"53,990,652",0.22,"9,767,243",0.18
6,General revenue1,"3,018,371,624",0.05,"38,703,898",0.21,"10,649,509",0.12,"50,455,305",0.14,"24,587,262",...,"70,756,015",0.18,"71,233,446",0.32,"15,913,176",0.11,"49,372,903",0.22,"8,714,493",0.19
7,Intergovernmental revenue1,"693,988,585",0.04,"10,411,381",0.22,"3,128,884",0.08,"14,900,864",0.09,"7,669,426",...,"11,438,948",0.64,"15,003,000",0.27,"4,840,317",0.17,"9,791,585",0.19,"2,822,792",0.24
8,From Federal Government,"693,988,585",0.04,"10,411,381",0.22,"3,128,884",0.08,"14,900,864",0.09,"7,669,426",...,"11,438,948",0.64,"15,003,000",0.27,"4,840,317",0.17,"9,791,585",0.19,"2,822,792",0.24
9,From State government1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Other than insurance trust funds,"2,530,441,079",0.24,"24,941,370",0.65,"77,002,648",0.07,"44,105,361",0.47,"17,393,609",...,"52,791,334",0.51,"51,661,627",0.84,"10,580,915",0.43,"33,464,704",0.75,"24,824,038",1.22
149,By purpose:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Offsets to debt,"755,926,366",0.29,"2,892,099",2.18,"3,802,119",0.14,"13,808,717",0.72,"5,163,119",...,"18,635,316",0.88,"13,822,398",0.23,"4,952,663",0.11,"15,899,259",0.13,"741,882",0.51
151,Bond funds,"204,287,735",1.13,"1,856,520",3.07,"710,638",0,"3,174,581",1.14,"1,723,066",...,"4,428,582",2.41,"7,436,902",2.83,"415,800",0.76,"1,489,553",4.68,"482,416",0.75
152,Other,"1,570,226,978",0.32,"20,192,751",0.68,"72,489,891",0.07,"27,122,063",0.65,"10,507,424",...,"29,727,436",0.63,"30,402,327",1.25,"5,212,452",0.87,"16,075,892",1.48,"23,599,740",1.28