In [1]:
import pandas as pd

In [3]:
acs15_21 = pd.read_csv("acs2015-21_noColNames.csv")
acs15 = pd.read_csv("acs2015_postPrep.csv")

In [8]:
acs15_21

,Year,GEO_ID,NAME,S0201_001E,S0201_002E,S0201_003E,S0201_004E,S0201_005E,S0201_006E,S0201_007E,...,S0201_299E,S0201_300E,S0201_301E,S0201_302E,S0201_303E,S0201_304E,S0201_305E,S0201_306E,S0201_307E,S0201_308E
0,2015,Geography,Geographic Area Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,0400000US01,Alabama,4858979.0,98.2,1.7,0.1,0.0,4858979.0,48.4,...,1124.0,345.0,509829.0,50.3,49.7,525412.0,729.0,1846390.0,80.8,68.3
2,2015,0400000US02,Alaska,738432.0,91.4,8.1,0.5,0.0,738432.0,52.6,...,1817.0,541.0,83035.0,52.3,47.7,83117.0,1163.0,250185.0,92.4,81.7
3,2015,0400000US04,Arizona,6828065.0,96.7,3.0,0.2,0.0,6828065.0,49.6,...,1319.0,385.0,863148.0,51.2,48.8,889617.0,933.0,2463008.0,87.6,78.1
4,2015,0400000US05,Arkansas,2978204.0,97.8,2.1,0.1,0.0,2978204.0,49.1,...,1029.0,340.0,349925.0,52.4,47.6,361300.0,695.0,1144663.0,81.4,64.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2016,0400000US51,Virginia,8411808.0,96.3,3.3,0.3,0.0,8411808.0,49.2,...,1692.0,449.0,1006594.0,50.9,49.1,1024547.0,1159.0,3120692.0,90.5,83.4
308,2016,0400000US53,Washington,7288000.0,94.3,5.1,0.5,0.0,7288000.0,49.9,...,1727.0,531.0,985120.0,52.6,47.4,999533.0,1135.0,2768076.0,93.0,87.4
309,2016,0400000US54,West Virginia,1831102.0,98.3,1.6,0.2,0.0,1831102.0,49.2,...,997.0,307.0,164448.0,51.6,48.4,169814.0,682.0,722125.0,82.6,74.2
310,2016,0400000US55,Wisconsin,5778709.0,97.6,2.2,0.2,0.0,5778709.0,49.7,...,1348.0,517.0,729459.0,55.6,44.4,743037.0,802.0,2326998.0,88.4,81.3
311,2016,0400000US56,Wyoming,585501.0,97.4,2.4,0.1,0.0,585501.0,50.9,...,1367.0,393.0,63194.0,58.7,41.3,64029.0,840.0,223619.0,90.8,83.2

In [15]:
colNames = list(acs15.loc[0])
colNames[0] = "Year"
colNames = colNames[:-2]

In [16]:
acs15_21.columns = colNames

In [18]:
acs15_21.to_csv("acs2015-21_wcolnames.csv")